.imgPicAnimalGame5 {
    position: absolute;
    max-width: 80%;
    max-height: 80%;
  }

.divImgAnimal > .imgPicAnimalGame5 {
  position: absolute;
  max-width: 80%;
  max-height: 80%;
}

.imgRipped{
  position: absolute;
  max-width: 100%;
  max-height: 100%;
}

.lorenzo_cola{
  position: absolute;
  width: 50%;
  top: 20%;
  left: 2%;
  z-index: 20;
}

.button_continue_game5{
  position: absolute;
  bottom: 25%;
  left: 25%;
  z-index: 50;
  cursor: pointer;
  transition: 0.3s;
}

.button_continue_game5:hover{
  transition: 0.3s;
  transform: scale(1.1);
}

.inputAnimal{
  background-color: white;
  width: 10vw;
  height: 10vw;
  margin-left: -12px;
  font-size: 10pt;
}

.lorenzo_background{
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  opacity: 0.5;
  background-color: black;
  z-index: 19;
}