
.background_book_game1{
    width: 100%;
    position: absolute;
    top: 0;
    right: -49%;
    animation: appearBookFromRight 1.5s ease-in-out;
}
.divLorenzoStart{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.imgLorenzo{
    position: absolute;
    top: 10%;
    left: 20%;
    width: 60%;
    z-index: 5;
    opacity: 1;
}
.buttonContinue{
    position: absolute;
    z-index: 5;
    bottom: 15%;
    left: 45%;
    cursor: pointer;
    transition: 0.3s;
}
.buttonContinue:hover{
    transform: scale(1.1);
    transition: 0.3s;
}
.divSlotFigureNamesAnimals{
    position: absolute;
    bottom: 12%;
    left: 0.7%;
    width: 15%;
    height: 55%;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    animation: appearBookFromRight 1.5s ease-in-out;
    gap: 5%;
}
.divSlotFigureNamesTransports{
    position: absolute;
    bottom: 12%;
    left: 32%;
    width: 15%;
    height: 55%;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    animation: appearBookFromRight 1.5s ease-in-out;
    gap: 5%;
}

.divTextFigureNameAfterDropped > .imgBackgroundItem {

}

.divTextFigureNameAfterDropped > .imgBackgroundItem {

}

.divSlotFigureNamesToys{
    position: absolute;
    bottom: 12%;
    left: 16.3%;
    width: 15%;
    height: 55%;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    animation: appearBookFromRight 1.5s ease-in-out;
    gap: 5%;
}
.divFigureNames{
    padding: 1% 0 0 0;
    position: absolute;
    top: 5%;
    border-radius: 16px;
    right: 2.5%;
    width: 40%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space;
    align-items: center;
    align-content: center;
    background-color: white;
    border: 2.5pt solid rgb(216, 123, 47);;
    gap: 0.5%;
}
.divSlotFigureName{
    border: 2pt dashed rgb(216, 123, 47);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.numberItem{
    font-family: sans-serif;
    color: rgb(216, 123, 47);
    opacity: 0.4;
    height: 50%;
    font-size: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2.4vw 0 0 0;
}
.textItem{
    margin-top: 3vw;
    color: rgb(216, 123, 47);
    font-weight: bold;
    font-family: sans-serif;
    font-size: 1.5vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
}
.divFigureNames{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: flex-start;
}
.divImgItem{
    width: 26%;
    display: flex;
    margin: 0 3%;
    justify-content: center;
    align-items: center;
    cursor: pointer; 
}
.imgBackgroundItem{
    width: 100%;
}
.divImgItemDropped {
    margin: 0 0 2% 0.5%;
    width: 21.95%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.textFigureName{
    position: absolute;
    font-size: 2vw;
}
.divTextFigureName{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 45%;
    margin: 0.5%;
    z-index: 4;
}
.divTextFigureNameAfterDropped {
    display: flex;
    margin: 0 0%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 100%;
    width: 100%;
    z-index: 7;
}
.textFigureNameAfterDropped{
    position: absolute;
    max-width: 80%;
    max-height: 80%; 
    font-size: 1.6vw;
    text-align: center;
}
.verifyButton{
    position: absolute;
    bottom: 5%;
    left: 25%;
    animation: appearButtonFromBottom 1s ease-in;
    transition: 0.3s;
    cursor: pointer;
}
.verifyButton:hover{
    transform: scale(1.1);
    transition: 0.3s;
}
.lorenzo_correct{
    width: 100%;
    position: absolute;
    top: 10%;
    right: 3%;
    animation: appearLorenzoFromRight 1.5s ease-in;
}
.lorenzo_incorrect{
    width: 100%;
    position: absolute;
    top: 10%;
    right: 3%;
    animation: appearAndDisappear 5s ease-in;
}
.continue_button{
    position: absolute;
    top: 55%;
    left: 50%;
    animation: appearButtonFromRight 2s ease-in;
    cursor: pointer;
    transition: 0.3s;
}
.continue_button:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

.divSlotFigureNamesAnimals > .divSlotFigureName{
    border: 2pt dashed green;
}

.divSlotFigureNamesTransports > .divSlotFigureName{
    border: 2pt dashed orangered;
}

.divSlotFigureNamesToys > .divSlotFigureName{
    border: 2pt dashed rgb(55, 55, 204);
}

.animals_title {
    position: absolute;
    top: 25%;
    left: 1%;
    width: 14%;
    z-index: 4;
}

.toys_title {
    position: absolute;
    top: 25%;
    width: 14%;
    left: 17%;
    z-index: 4;
}

.transports_title {
    position: absolute;
    top: 25.3%;
    width: 14%;
    left: 32%;
    z-index: 4;
}
@keyframes appearAndDisappear {
    0% {
        right: -150%;
    }
    20% {
        right: 3%;
    }
    50% {
        right: 3%;
    }
    100% {
        right: -200%;
    }
}
@keyframes appearBookFromRight {
    0% {
        right: -150%;
    }
    100% {
        right: -49%;
    }
}
@keyframes appearLorenzoFromRight {
    0% {
        right: -150%;
    }
    100% {
        right: 3%;
    }
}
@keyframes appearButtonFromRight {
    0% {
        right: -150%;
    }
    100% {
        right: 50%;
    }
}
@keyframes appearSlotsFromRight {
    0% {
        display: none;
    }
    100% {
        display: flex;
    }
}
@keyframes appearButtonFromBottom {
    0% {
        bottom: -150%;
    }
    100% {
        bottom: 5%;
    }
}

