
.background_book_game1{
    width: 100%;
    position: absolute;
    top: 0;
    right: -49%;
    animation: appearBookFromRight 1.5s ease-in-out;
}
.divSlotAnimals{
    position: absolute;
    top: 14%;
    right: 2.5%;
    width: 45%;
    height: 77%;
    display: flex;
    flex-wrap: wrap;
    animation: appearBookFromRight 1.5s ease-in-out;
    gap: 5%;
}
.divAnimalsImages{
    position: absolute;
    top: 5%;
    left: 2.5%;
    position: absolute;
    width: 45%;
    height: 90%;
}
.divSlotAnimal{
    background-image: url("../assets/book_details/slotanimals.svg");
    background-size: cover;
    width: 20%;
    height: 21%;
    display: flex;
    flex-direction: column;
    border: 0;
}
.numberAnimal{
    font-family: sans-serif;
    color: green;
    opacity: 0.4;
    height: 50%;
    font-size: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2.4vw 0 0 0;
}
.textAnimal{
    margin-top: 3vw;
    color: rgb(8, 146, 8);
    font-weight: bold;
    font-family: sans-serif;
    font-size: 1.5vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
}
.divAnimalsImages{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.divAnimalsImagesDroppable{
    position: absolute;
    gap: 0;
    margin: 0;
    padding: 0;
    top: 14%;
    right: 4.5%;
    width: 43.5%;
    height: 80.5%;
    display: flex;
    flex-wrap: wrap;


    justify-content: space-between;
    align-items: flex-start;
    z-index: 7;
}
.imgAnimalDropped{
    width: 100%;
}
.imgAnimal{
    width: 75%;
    margin: 0.5vw 0.8vw;
}
.divImgAnimal{
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}
.divImgAnimalDropped {
    margin: 0 0 2% 0.5%;
    width: 21.95%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.imgPicAnimal{
    position: absolute;
    max-height: 14%;
}
@keyframes appearBookFromRight {
    0% {
        right: -150%;
    }
    100% {
        right: -49%;
    }
}
@keyframes appearSlotsFromRight {
    0% {
        display: none;
    }
    100% {
        display: flex;
    }
}

