
.background_book_game1{
    width: 100%;
    position: absolute;
    top: 0;
    right: -49%;
    animation: appearBookFromRight 1.5s ease-in-out;
}
.divSlotAnimals{
    position: absolute;
    top: 14%;
    right: 2.5%;
    width: 45%;
    height: 77%;
    display: flex;
    flex-wrap: wrap;
    animation: appearBookFromRight 1.5s ease-in-out;
    gap: 5%;
}
.divAnimalsImages{
    position: absolute;
    top: 5%;
    left: 2.5%;
    position: absolute;
    width: 45%;
    height: 90%;
}
.divSlotAnimal{
    /*background-image: url("../assets/book_details/slotanimals.svg");*/
    border: 5pt dotted green;
    width: 20%;
    height: 21%;
    display: flex;
    flex-direction: column;
}
.numberAnimal{
    font-family: sans-serif;
    color: green;
    opacity: 0.4;
    height: 50%;
    font-size: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2.4vw 0 0 0;
}
.textAnimal{
    margin-top: 3vw;
    color: rgb(8, 146, 8);
    font-weight: bold;
    font-family: sans-serif;
    font-size: 1.5vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
}
.divAnimalsImages{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.divImgAnimal{
    width: 26%;
    display: flex;
    margin: 0 3%;
    justify-content: center;
    align-items: center;
    cursor: pointer; 
}
.imgAnimal{
    width: 100%;
}
.divImgAnimalDropped {
    margin: 0 0 2% 0.5%;
    width: 21.95%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.imgPicAnimal{
    position: absolute;
    max-width: 20%;
    max-height: 20%;
}
.divImgAnimalAfterDropped {
    width: 18%;
    display: flex;
    margin: 0 0%;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 19%;
    position: absolute;
    z-index: 7;
}
.imgPicAnimalAfterDropped{
    position: absolute;
    max-width: 80%;
    max-height: 80%; 
}
@keyframes appearBookFromRight {
    0% {
        right: -150%;
    }
    100% {
        right: -49%;
    }
}
@keyframes appearSlotsFromRight {
    0% {
        display: none;
    }
    100% {
        display: flex;
    }
}

