.imgPicAnimalGame5 {
  position: absolute;
  max-width: 80%;
  max-height: 80%;
}

.divImgAnimal > .imgPicAnimalGame5 {
  position: absolute;
  max-width: 80%;
  max-height: 80%;
}

.imgRipped {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
}

.lorenzo_duvidas {
  position: absolute;
  width: 45%;
  top: 10%;
  left: 2%;
  z-index: 20;
}

.button_continue_game7_game5 {
  position: absolute;
  bottom: 25%;
  left: 25%;
  z-index: 50;
  cursor: pointer;
  transition: 0.3s;
}

.button_continue_game7_game5:hover {
  transition: 0.3s;
  transform: scale(1.1);
}

.inputAnimal {
  background-color: white;
  width: 10vw;
  height: 10vw;
  margin-left: -12px;
  font-size: 10pt;
}

.lorenzo_background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  opacity: 0.5;
  background-color: black;
  z-index: 19;
}

.divSlotTransportsGame7 {
  position: absolute;
  top: 14%;
  right: 2.5%;
  width: 45%;
  height: 77%;
  display: flex;
  flex-wrap: wrap;
  animation: appearBookFromRight 1.5s ease-in-out;
  gap: 5%;
}

.background_book_game7 {
  width: 100%;
  position: absolute;
  top: 0;
  right: -49%;
  animation: appearBookFromLeft 1.5s ease-in-out;
}

.lorenzo_cola_game7 {
  position: absolute;
  width: 50%;
  top: 20%;
  left: 2%;
  z-index: 20;
}

.verifyButtonGame7 {
  position: absolute;
  bottom: 5%;
  left: 15%;
  animation: appearButtonFromBottom 1s ease-in;
  transition: 0.3s;
  cursor: pointer;
}
.verifyButtonGame7:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.divSlotTransportGame8 {
  border: 5pt dotted green;
  width: 20%;
  height: 21%;
  display: flex;
  flex-direction: column;
}

.textToyGame8{
  margin-top: 3vw;
  color: green;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 1.5vw;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
}

.lorenzo_correct_game7, .lorenzo_incorrect_game7{
  width: 40%;
  position: absolute;
  top: 15%;
  left: 5%;
  animation: appearLorenzoFromRight 0.5s ease-in;
}

.button_continue_game7{
  position: absolute;
  bottom: 30%;
  left: 20%;
  z-index: 50;
  cursor: pointer;
  transition: 0.3s;
}

.divtoysImagesGame7{
  position: absolute;
  top: 5%;
  right: 2.5%;
  position: absolute;
  width: 45%;
  height: 90%;
}

.game8_background_inputs{
  position: absolute;
  top: 25%;
  width: 40%;
  height: 70%;
  left: 5%;
  background-color: white;
  opacity: 0.9;
  z-index: 15;
  border: 2pt solid black;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 10%;
  padding: 3%;
  color: green;
  font-weight: bold;
  font-size: 17pt;

}

.div_question_1, .div_question_2, .div_question_3{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.div_question_1 > input, .div_question_2 > input, .div_question_3 > input{
  width: 5vw;
  height: 4vw;
  border: 2pt dashed green;
  font-size: 20pt;
  color: green;
  padding: 1vw;
}


@keyframes appearBookFromLeft {
  0% {
    left: -150%;
  }
  100% {
    left: -49%;
  }
}

@keyframes appearBookFromRight {
  0% {
    right: -100%;
  }
  100% {
    right: -49%;
  }
}

@keyframes appearLorenzoFromRight {
  0% {
      right: -150%;
  }
  100% {
      right: 3%;
  }
}
