* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.container {
  background-image: url("../assets/background.png");
  background-size: cover;
  background-position: center;
  width: 100vw;
  position: relative;
}

.container::before {
  content: "";
  display: block;
  padding-top: 56.25%;
}

.container .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.a,
.l,
.b,
.u,
.m {
  position: absolute;
  top: 10%;
  object-fit: contain;
}

.a {
  left: 29%;
  animation: dropA 0.2s linear forwards;
  width: 10%;
}

.l {
  left: 36%;
  animation: dropL 0.4s linear forwards;
  width: 9%;
}

.b {
  left: 44%;
  animation: dropB 0.6s linear forwards;
  width: 8%;
}

.u {
  left: 52%;
  animation: dropU 0.8s linear forwards;
  width: 9%;
}

.m {
  left: 60%;
  animation: dropM 1s linear forwards;
  width: 15%;
}

.de {
  position: absolute;
  top: 45%;
  left: 45%;
  opacity: 0;
  width: 10%;
  animation: fadeInDe 2s linear forwards;
}

.fig-f {
  position: absolute;
  width: 8%;
  top: 60%;
  left: 24%;
  animation: dropFigF 1s ease-in-out;
}

.fig-i1 {
  position: absolute;
  width: 8%;
  top: 60%;
  left: 32%;
  animation: dropFigF 1.2s ease-in-out;
}

.fig-g {
  position: absolute;
  width: 8%;
  top: 60%;
  left: 38%;
  animation: dropFigF 1.4s ease-in-out;
}

.fig-u {
  position: absolute;
  width: 8%;
  top: 60%;
  left: 44%;
  animation: dropFigF 1.6s ease-in-out;
}

.fig-r {
  position: absolute;
  width: 7%;
  top: 60%;
  left: 50%;
  animation: dropFigF 1.8s ease-in-out;
}

.fig-i2 {
  position: absolute;
  width: 8%;
  top: 60%;
  left: 56%;
  animation: dropFigF 2s ease-in-out;
}

.fig-t {
  position: absolute;
  width: 8%;
  top: 60%;
  left: 62%;
  animation: dropFigF 2.2s ease-in-out;
}

.fig-a {
  position: absolute;
  width: 8%;
  top: 60%;
  left: 68%;
  animation: dropFigF 2.4s ease-in-out;
}

.fig-s {
  position: absolute;
  width: 8%;
  top: 60%;
  left: 74%;
  animation: dropFigF 2.6s ease-in-out;
}

.macaco {
  position: absolute;
  bottom: 37%;
  right: 31%;
  width: 10%;
  transform: rotate(-10deg);
  animation: fadeInMacaco 2s ease-in;
}

.coruja {
  position: absolute;
  top: 3%;
  right: 50%;
  width: 7%;
  animation: fadeInMacaco 2s ease-in;
}

.boneca {
  position: absolute;
  bottom: 15%;
  left: 18%;
  width: 10%;
  animation: fadeInMacaco 2s ease-in;
}

.aviao {
  position: absolute;
  bottom: 125%;
  left: 125%;
  width: 10%;
  transform: rotate(-30deg);
  animation: moverAviao 4s linear;
}

.comecar {
  position: absolute;
  bottom: 10%;
  left: 45%;
  width: 15%;
  cursor: pointer;
  transition: 0.3s;
  animation: dropStartButton 3s ease-in-out;
}

.comecar:hover {
  transform: scale(1.3);
  transition: 0.3s;
}

@keyframes dropA {
  0% {
    top: -10%;
  }
  100% {
    top: 10%;
  }
}

@keyframes dropL {
  0% {
    top: -10%;
  }
  100% {
    top: 15%;
  }
}

@keyframes dropB {
  0% {
    top: -10%;
  }
  100% {
    top: 15%;
  }
}

@keyframes dropU {
  0% {
    top: -10%;
  }
  100% {
    top: 15%;
  }
}

@keyframes dropM {
  0% {
    top: -10%;
  }
  100% {
    top: 15%;
  }
}

@keyframes fadeInDe {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInMacaco {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes dropFigF {
  0% {
    top: -80%;
  }
  100% {
    top: 60%;
  }
}

@keyframes moverAviao {
  0% {
    bottom: -60%;
    left: -72%;
  }
  100% {
    bottom: 125%;
    left: 125%;
  }
}

@keyframes dropStartButton {
  0% {
    bottom: -50%;
  }
  100% {
    bottom: 10%;
  }
}
